#album-page-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#album-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    position: relative;
}
#comment-container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: right;
    width: 50%;
    padding-bottom: 150px;
}

#content_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    margin:0px;
    padding:0px;
    overflow-y: auto;
}
#left-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 80px;
    padding-top: 10px;
    padding-right: 15px;
    height: 100%;
    position: relative;

    align-items: center;
    overflow-y: auto;
}
#right-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-y: auto;
}


