#card-container {
    width: 100%;
    height: 300px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-wrapper {
    height: 80%;
    width: 80%;
    background-color: green;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#card-wrapper > img {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#card-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}